*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    padding: 50px;
}
.album{
    margin: 10px;
    float: left;
    width: calc(100% / 3 -20px);
    /* height:  */
}

.img1{
    width: 250px;
    height: 300px;
    float: left;
}

.album-image img {
    width: 100%;
}

.album-title, .album-number{
    margin: 5px 0px;
    font-size: 20px;
    position: relative;
    width: 40px;
    height: -20px;
    bottom: 10px;
    left: 10px;
}

.album-number{
    color: red;
}

.sconto{
    position: relative;
    background-color: red;
    width: 25px;
    bottom:100px;
    left: 15px;
    font-size: 12px;
}

.sostenibilità{
    position: relative;
    background-color: greenyellow;
    width: 70px;
    bottom: 113px;
    left: 45px;
    font-size: 12px;
}

.img2{
    width: 250px;
    height: 300px;
    float: left;
    position: relative;
    bottom: 392px;
    left: 300px;
}

.sconto2{
    position: relative;
    background-color: red;
    width: 25px;
    bottom:480px;
    left: 360px;
    font-size: 12px;
}

.sostenibilità2{
    position: relative;
    background-color: greenyellow;
    width: 70px;
    bottom: 493px;
    left: 390px;
    font-size: 12px;
}

.album-number2, .album-title2{
        margin: 5px 0px;
        font-size: 20px;
        position: relative;
        width: 40px;
        height: -20px;
        bottom: 390px;
        left: 350px;
}
    
.album-number2{
        color: red;
}